<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/global.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo&display=swap" rel="stylesheet">
    <title>Carros Golang</title>
</head>
<body>
    {{template "navbar"}}
    <h1>Bem vindo à WEB com Go! Fiber Framework</h1>
    <img src="../public/images/go-logo-blue.svg" alt="Go logotipo">
    <img style="width: 20%; height: auto;" src="https://gblobscdn.gitbook.com/spaces%2F-M-XEvRn3rhe8BDVGkss%2Favatar-rectangle.png?alt=media" alt="Fiber logotipo">
    <h2>Feito com muita paciência por William Scaramuzzi</h2>
</body>
</html>